body {                                                       
  margin: 0;
  padding: 0;  
  justify-content: center;
  align-items: center;                         /*Formatação de estilos do corpo da página.*/
  background-color: #ffffff;
  color: #333;
  font-size: 18px;
}

header {
  background-color: #98fd32;
  display: flex;
  justify-content: space-between;       /* Formatação de estilos das "abas" da nav bar.*/
  align-items: center;
  padding:20px 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;                    /* Formatação de estilos da logo do site.*/
  font-size: 24px;
  color: #0a7919;
}

.logo img {
  width: 35px;
  height: 35px;                         /* Formatação de estilos da imagem da logo. */
  margin-right: 10px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;                        /* Formatação de estilos das "abas" na parte superior.*/
  font-weight: 500;
  font-size: 20px;
}

.botao-topo {
  background-color: #57f84b;
  color: #03170a;
  text-decoration: none;                /* Formatação de estilos do botão "Aprenda Mais".*/
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.calcular{
  text-align: center;
  margin: 0 auto;                      /* Formatação de estilos da parte do calculo do IMC.*/ 
  width: 600px;
  height: 600px;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.DescIMC{
  padding: 180px;                      /* Formatação de estilos da descrição do IMC */
  margin: 0 auto;
}

section {
  margin-top: 200px;
  scroll-margin-top: 80px;            /* Formatação de estilos  */
  text-align: center;
}

section h1,section h2 {
  font-size: 40px; 
  padding: 25px;                      /* Formatação de estilos dos subtitulos */
  margin-top: 50px;
  margin-bottom: 0px;
}

section p {
  padding: 25px;
  font-size: 20px;                    /* Formatação de estilos dos parágrafos*/
  margin: 0 auto;
  line-height: 1.5;
}

.verde {
  color: #2ecc71;                   /* Formatação de estilos da cor verde em "IMC" */
}

form {
  max-width: 450px;
  margin: 0 auto;                     /* Formatação de estilos do formulário */
  text-align: left;
}

form label {
  font-weight: 600;
  margin-top: 20px;                   /* Formatação de estilos da tabela*/
  display: block;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background-color: #e4e4e4;        /* Formatação de estilos das áreas de inserção de dados: altura e peso */
  margin-top: 6px;
  margin-bottom: 24px;
  font-size: 16px;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 14px;
  background-color: #f57c00;
  color: #fff;                       /* Formatação de estilos do botão "Calcular" */
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #e66900;         /* Formatação de estilos do efeito ao passar o mouse emcima do botão "Calcular"*/
}

.mensagem {
  margin-top: 25px;
  font-size: 18px;                      /* Formatação de estilos da menasgem após o calculo do IMC */
  font-weight: 500;   
}

.card{
  width: 20rem;
  height: 18rem;
  background-color: #ffffff;           /* Formatação de estilos dos cards em "Apredenda Mais" */
  color: #333;
  border-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;                  /* Formatação de estilos do rodapé do site*/
    padding: 10px 0;
    color: #333; 
}
