body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  font-size: 18px;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: #2ecc71;
}

.logo img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
}

.botao-topo {
  background-color: #a3ff9c;
  color: #064e1d;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
}

.conteudo {
  text-align: center;
  padding: 120px 20px;
}

section {
  padding: 360px 20px;
  scroll-margin-top: 120px;
}

section h1,
section h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

section p {
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}

.verde {
  color: #2ecc71;
}

form {
  max-width: 450px;
  margin: 0 auto;
  text-align: left;
}

form label {
  font-weight: 600;
  margin-top: 20px;
  display: block;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background-color: #e4e4e4;
  margin-top: 6px;
  margin-bottom: 24px;
  font-size: 16px;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 14px;
  background-color: #f57c00;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #e66900;
}

.mensagem {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
}
